{% import 'macros.html' as macro%}
{% extends 'base.html'%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

{%block content%}
<div class="container">
  <div>
    <h1 class="text-center">General</h1>
  {{macro.displaySourceList(general)}} <br>
  </div>
 
  <div>
    <h1 class="text-center">Entertainment</h1>
   {{macro.displaySourceList(entertainment)}} <br>
  </div>
    
  <div>
    <h1 class="text-center">Entertainment</h1>
    {{macro.displaySourceList(entertainment)}}
  </div>
  

  <h1 class="text-center">Sports</h1>
  {{macro.displaySourceList(sports)}} 


</div>
{%endblock%}
